@import url('https://fonts.googleapis.com/css?family=Pacifico');

:root {
  --body-color: 48, 48, 58;
  --font-color: 255, 255, 255;
  --highlight-color: 0, 0, 0;
  --theme-background: 20, 20, 20;
  --theme-light: 0, 0, 0;
  --theme-medium: 0, 0, 0;
  --theme-dark: 0, 0, 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://i.pinimg.com/564x/8b/61/2d/8b612de775880c21e81a5fab764155e0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

p {
  color: #ffffff;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0088cc;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #0066a6;
  transform: scale(1.1);
}

.list-item {
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  animation: slide-in 1s ease-in-out;
  border-radius: 10px;
  height: 200px;
  width: 400px; /* Added constant width */
  position: relative;
  overflow: hidden;
}

.list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  z-index: -1;
}

.list-item:nth-child(1)::before {
  background-image: url('https://i.pinimg.com/564x/ae/2c/7c/ae2c7cdc4fb2677adabbe14c6b231577.jpg');
}

.list-item:nth-child(2)::before {
  background-image: url('https://i.pinimg.com/564x/3e/db/92/3edb92233749f76f91c52aeef5ac9110.jpg');
}

.list-item:nth-child(3)::before {
  background-image: url('https://i.pinimg.com/736x/86/96/0e/86960ebbad2e69fee086a7bcdcdc2b50.jpg');
}

.list-item:nth-child(4)::before {
  background-image: url('https://i.pinimg.com/564x/82/26/e1/8226e1005c98eb47410686767d542b01.jpg');
}

.list-item:nth-child(5)::before {
  background-image: url('https://i.pinimg.com/564x/7d/e7/9c/7de79c700700d32930dec00ff90e77a7.jpg');
}

.list-item div {
  color: #ffffff;
  width: 100%;
  padding: 20px;
  text-align: center;
}
